<p>
  <strong>Description:</strong>
  <%= @promotion.description %>
</p>

<p>
  <strong>Application:</strong>
  <%= @promotion.application_id %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
